<!DOCTYPE html>
{{with default "en-us" site.LanguageCode}}
<html lang='{{.}}'>
{{end}}
{{block "head" .}}
  {{partial "head.html" (dict "context" .)}}
{{end}}
  <body class='page'>
    {{block "header" .}}
    <div class='page__header'>
        {{partial "header.html" (dict "context" .)}}
        {{block "navbar" .}}
          {{partial "navbar.html" (dict "navbarModifier" "navbar--menu" "context" .)}}
        {{end}}
    </div>
    {{end}}

    <div class='page__content'>
      <section class='content'>
      {{block "prologue" .}}{{end}}
        {{block "article" .}}
        <main class='content__article'>
          {{partial "article.html" (dict "context" .)}}
        </main>
        {{end}}
      {{block "epilogue" .}}{{end}}
      </section>
    </div>

    {{block "footer" .}}
    <div class='page__footer'>
      <footer class='footer'>
        {{/*Cambiar a navbar*/}}
        {{partialCached "socials.html" . "main"}}
      </footer>
    </div>
    {{end}}
	</body>
</html>
