.content {
  --content--BackgroundColor: var(--global--light--PageForeground);
  --content--margin--Spacer: var(--global--spacer--sm);
  --content--padding--Spacer: var(--global--spacer--md);

  --content--margin--Spacer: 0;

  margin: var(--content--margin--Spacer);
  padding: var(--content--padding--Spacer);
  background-color: var(--content--BackgroundColor);
}

.content--main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content--main .content__article {
  padding: var(--content--padding--Spacer);
}
