.header {
  --header--TitleColor:var(--global--light--TitleColor);

  color: var(--header--TitleColor);
  text-align: center;
}

.header__title,
.header__subtitle {
  font-weight: normal;
  font-style: normal;
}
