* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --body--FontSize: var(--global--main--FontSize);
  --body--light--Background: var(--global--light--Background);
  --body--light--FontColor: var(--global--light--FontColor);

  /*background-color: var(--body--light--Background);*/

  font-size: var(--body--FontSize);
  color: var(--body--light--FontColor);
}

ul {
  list-style-position: inside;
}

li::marker {
  text-align: center;
}
