<head>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  {{with site.Author.name}}
  <meta name='author' content='{{.}}'/>
  {{end}}
  {{with default site.Author.name site.Params.copyright}}
  <meta name='copyright' content='{{.}}'/>
  {{end}}
  {{with default .context.Summary .context.Description}}
  <meta name='description' content='{{.}}'/>
  {{end}}
  {{with site.Params.tags}}
  <meta name='keywords' content='{{delimit . ", "}}'/>
  {{end}}
  {{with site.Params.styleSheetRoute}}
  <link type='text/css' rel='stylesheet' href='{{. | absURL}}'/>
  {{end}}
	{{with site.Params.faviconRoute}}
  <link rel='icon' href='{{.}}'/>
	{{end}}
  {{with site.Params.feedRoute}}
  <link rel='alternate' type='application/rss+xml' href='{{.}}' title='{{with site.Params.feedTitle}} {{. | safeHTML}} {{end}}'/>
  {{end}}
  {{template "_internal/twitter_cards.html" .context}}
  {{template "_internal/opengraph.html" .context}}
  {{with default site.Title .context.Title}}
  <title>{{.}} - {{site.Author.name}}</title>
  {{end}}
</head>
