<navbar class='navbar {{with .navbarModifier}}{{.}}{{end}}'>
  <ul class='navbar__item-list'>
    {{with default site.Menus.main .siteMenu}}
      {{range .}}
      <li class='navbar__item'>
        <a class='navbar__anchor{{if (eq (lower .Name) (lower $.itemSelected))}} navbar__anchor--selected{{end}}' href='{{.URL | safeURL}}'>
        {{if .Pre}}
        <div class='navbar__svg'>
          {{printf "%s" (resources.GetMatch .Pre) | printf "%s%s" "assets/" | readFile | safeHTML}}
        </div>
        {{else}}
          {{.Name | humanize}}
        {{end}}
        </a>
      </li>
      {{end}}
    {{end}}
  </ul>
</navbar>
