<div class='crypto__qr-codes'>
  {{with resources.Get "img/shared/monero_qr.png"}}
  <figure class='image-frame image-frame--main'> 
    <img class='crypto__qr-codes--monero' src="{{.Permalink}}" title='Código qr de mi dirección de monero'/>
    <figcaption>Código qr de mi dirección de monero</figcaption>
  </figure>
  {{end}}
  {{with resources.Get "img/shared/ethereum_qr.png"}}
  <figure class='image-frame image-frame--main'> 
    <img class='crypto__qr-codes--ethereum' src="{{.Permalink}}" title='Código qr de mi dirección de ethereum'/>
    <figcaption>Código qr de mi dirección de ethereum</figcaption>
  </figure>
  {{end}}
</div>
